.container {
    background-color: #30043d;
    width: 80%;
    display: flex;
    max-width: 1000px;
    color: white;
    padding: 40px 40px;
    border-radius: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    margin: auto auto;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.time-display {
    font-size: 150px;
}

.buttons  {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.buttons button {
    padding: 15px 50px;
    color: white;
    border-radius: 30px;
    font-weight: bold;
}

.startPause {
    background-color: #d833ca;
}

.reset {
    background-color: green;
}
